@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Quicksand:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
    --color-brand-orange: #EF8535;
    --color-brand-gold: #FFDE59;
    --color-brand-flame: #FF914D;

    --color-bg-primary: #12100E;
    --color-bg-secondary: #1C1815;
    --color-bg-surface: #26201B;

    --color-text-primary: #FFFFFF;
    --color-text-secondary: #D8D1C8;
    --color-text-muted: #A79D92;

    --color-border-subtle: #3A3028;

    --font-display: "Marcellus", serif;
    --font-body: "Quicksand", sans-serif;
}

.gallery-scroll::-webkit-scrollbar {
  height: 6px;
}

.gallery-scroll::-webkit-scrollbar-track {
  background: var(--color-bg-surface);
  border-radius: 999px;
}

.gallery-scroll::-webkit-scrollbar-thumb {
  background: var(--color-brand-orange);
  border-radius: 999px;
}

.gallery-scroll {
  scrollbar-color: var(--color-brand-orange) var(--color-bg-surface);
  scrollbar-width: thin;
}

body {
  font-family: var(--font-body);
}